@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Blog>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}



    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Hello World;</div>
                <div class="intro-heading">We're here to bring your stories to life!</div>
                <a href="#about" class="page-scroll btn btn-xl">Show me how</a>
            </div>
        </div>
    </header>
    
<div class="Container">
    
    



<div class="row" style="text-align:center">
     <!-- Blog Post -->
          <div class="card mb-4">
              <p>@{
	var selection = Umbraco.TypedContent(1064).Children("blog")
						.Where(x => x.IsVisible());
}
<ul>
	@foreach(var item in selection){
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul></p>
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">Post Title</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
              <a href="#" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on January 1, 2017 by
              <a href="#">Start Bootstrap</a>
            </div>
          </div>
</div>
</div>