<!DOCTYPE root[<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1055" key="9878a673-1415-4c52-841b-a6ae5b797def" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-02-11T00:07:51" updateDate="2018-02-11T00:07:51" nodeName="Home" urlName="home" path="-1,1055" isDoc="" nodeType="1054" creatorName="shahin gazi" writerName="shahin gazi" writerID="0" template="1053" nodeTypeAlias="home" isPublished="true">
    <promoTilte><![CDATA[Welcome to ElaseBd]]></promoTilte>
  </home>
  <blog id="1064" key="86237a37-6788-4413-ad5f-7625eb9b9d23" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-02-11T00:39:23" updateDate="2018-02-11T01:22:11" nodeName="Blog" urlName="blog" path="-1,1064" isDoc="" nodeType="1063" creatorName="shahin gazi" writerName="shahin gazi" writerID="0" template="1062" nodeTypeAlias="blog" isPublished="false">
    <blogDescription><![CDATA[<p>kjahskjdhfkajsh</p>
<p> </p>
<p>asfhakdsjhfkajdsh</p>
<p> </p>
<p>asdfahsd</p>]]></blogDescription>
    <blogTitle><![CDATA[This is test]]></blogTitle>
  </blog>
</root>